doctype html
html(lang='en', ng:controller!= page.controller)
	include ./parts/overall_head.jade

	body
		// Include Header
		include ./parts/header.jade

		.description-wrapper
			h1 Tentang Kita
			p.description-txt Major Design merupakan perusahaan yang bergerak dibidang Interior Design, Interior Kontraktor, dan aristektur bangunan. Di Major Design, kami percaya pada integritas, praktek kerja yang bersih, kami percaya pada desain yang berkualitas, kami percaya pada pelayanan kami, kami percaya dalam membantu klien untuk mewujudkan ruang impian menjadi kenyataan dan kami percaya bawha desain kami harus memberikan solusi terbaik. Dengan dukungan tim desainer, pelaksana dan workshop yang representatif, kami siap membawa warna baru dalam industri desain. Menghidupkan ruang impian anda menjadi kenyataan bukan hanya pekerjaan bagi kami, tapi itu sekedar kesenangan bagi kami. #[br]#[br] Best Regard #[br]Major Design

		// Include Footer
		include ./parts/footer.jade