doctype html
html(lang='en', ng:controller!= page.controller)
	include ./parts/overall_head.jade

	body
		// Include Header
		include ./parts/header.jade

		.img-block-wrapper(ng:repeat="data in collections")
			.img-block-inner
				.img-block-cvr(ng:style="{'background-image': 'url(/dist/img/{{data.photo}})'}")
				.img-block-description
					p(ng:bind:html="data.name")

		// Include Footer
		include ./parts/footer.jade