* {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;	
}

html, body {
	margin: 0;
	padding: 0;	

	min-height: 100vh;
}

body {
	background: #161616;
	font-family: 'Economica', sans-serif;
	font-size: 1em;
	overflow-x: hidden;
	width: 100%;
	min-height: 100%;	
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
	margin-right: 1em;
}

.clear {
	clear: both;
}

.list-table {
	position: relative;
	display: block;
	list-style-type: none;
	width: 100%;
}

.list-table li {
	display: inline-block;
	padding: .15em .5em;
	margin: 0 .25em;
}

/* Header */
.overall-header {
	position: relative;
	z-index: 1;
	display: block;
	overflow: hidden;
	min-height: 40vh;
}

.header-wrapper {
	position: relative;
	top: 0;
	left: 0;
	background-color: #202020;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 15vh;

	width: 100%;
	min-height: 5vh;
	z-index: 2;
	-wekbkit-box-shadow: 0 3px 5px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 3px 5px 2px rgba(0,0,0,.2);
	box-shadow: 0 3px 5px 2px rgba(0,0,0,.2);

	overflow: hidden;
}

.header-inner {
	width: 100%;
	padding: .25em .25em;
}

.header-inner a:link {
	font-size: 1.3em;
	color: #fff;
	padding-bottom: .35em;
	text-decoration: none;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;	
}

.header-inner a:visited {
	color: #fff;
}

.header-inner a:hover {
	color: #52B8FF;
}

.back-header {
	position: absolute;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	background: url('/dist/img/architecture.jpg') no-repeat bottom center;
	background-attachment: fixed;
	background-size: cover;
}

.back-header-content {
	position: relative;
	padding: .5em;	
	color: #fff;	
	display: block;
	float: right;
	text-align: right;
	padding-top: 3%;
	padding-right: 10%;
	width: 50%;
	overflow: hidden;
	z-index: 2;
}

.back-header-content h1, .back-header-content p {
	-webkit-text-shadow: 1px 1px 2px #000;
	-moz-text-shadow: 1px 1px 2px #000;
	text-shadow: 1px 1px 2px #000;	
}

.back-header-content p {
	line-height: 1.75em;
	font-size: 1.25em;
}

/* Img Blocks */
.img-block-wrapper {
	position: relative;
	display: inline-block;
	width: 48%;
	margin: 1% 1% 0;
	overflow: hidden;
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
	box-shadow: 0 0 3px 5px rgba(0,0,0,.1);
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	opacity: 1;
}

.img-block-wrapper:hover {
	opacity: .8;
	-webkit-box-shadow: 0 0 5px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 5px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 5px 3px rgba(0,0,0,.3);
}

.img-block-inner {
	position: relative;
	padding: .25em;
	overflow: hidden;
}

.img-block-cvr {
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-attachment: scroll !important;
	height: 290px;
}

.img-block-description {
	text-align: center;
	padding: .35em;
}

.img-block-description p {
	color: #fff;
}

/* Icons */
.icon {
	color: #f2f2f2;
	font-size: 1.25em;
	display: inline-block;
}

.social-icons {
	display: block;
	list-style-type: none;
}

.social-icons li {	
	display: inline-block;
	margin: 0 .5em;
	cursor: pointer;	
}

.social-icons li .icon {
	color: #555;
	font-size: 1.45em;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.social-icons li:hover .icon {
	color: #eee;
}

/* Footer */
.footer-wrapper {
	position: relative;
	display: block;
	width: 100%;
	bottom: 0;
	vertical-align: bottom;
	background: #111;	
	margin: 1em auto 0;
}

.footer-inner {
	padding: .35em 0;
	text-align: center;
}

.footer-inner p {
	color: #888;
}

.footer-inner p a:link {
	color: #fff;
	text-decoration: none;
}

.footer-inner p a:visited {
	color: #fff;
}

/* Mobile Navigation */
.mobile-navigation {
	position: relative;
	list-style-type: none;
	display: block;
	background: #111;
	margin: 0;
	padding-left: 0;
}

.mobile-navigation li {
	width: 100%;
	display: block;
	padding: .5em;
	color: #fff;
	font-size: 1.15em;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.mobile-navigation li:hover {
	background: #161616;
}

.mobile-navigation li a:link {
	color: #999;
	text-decoration: none;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
}

.mobile-navigation li a:visited {
	color: #999;
}

.mobile-navigation li a:hover, .mobile-navigation li:hover a {
	color: #fff;
}

/* Misc. Styling */
#desktop-menu {
	display: block;
}

#mobile-menu {
	display: none;
}

.mobile-navigation {
	display: none;
}

/* Media Queries Universal Design */
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
	#desktop-menu {
		display: none;
	}

	#mobile-menu {
		display: block;
	}
}